- name: Check if module overwrite for current os exists for {{ module }}
  stat:
    path: "tasks/install/{{ ansible_facts['os_family'] }}/{{ module }}.yml"
  register: module_result

- name: Check if general module exists for {{ module }}
  stat:
    path: "tasks/install/general/{{ module }}.yml"
  register: general_module_result

- name: Include os specific module tasks for {{ module }} iff existing
  include_tasks: "tasks/install/{{ ansible_facts['os_family'] }}/{{ module }}.yml"
  when: module_result.stat.exists

- name: Include general module tasks for {{ module }} iff os specific are missing
  include_tasks: "tasks/install/general/{{ module }}.yml"
  when: not module_result.stat.exists and general_module_result.stat.exists