---
- name: Define HasihCorp product destination.
  set_fact:
    install_folder: "/opt/hashicorp/{{ name }}/{{ version }}"

- name: "Ensure install destination for HashiCorp prodcut {{ name }} exists"
  become: true
  file:
    dest: "{{ install_folder }}"
    state: directory

- name: "Install HashiCorp product {{ name }}"
  become: true
  unarchive:
    src: "https://releases.hashicorp.com/{{ name }}/{{ version }}/{{ name }}_{{ version }}_linux_amd64.zip"
    dest: "{{ install_folder }}"
    remote_src: yes
    creates: "{{ install_folder }}/{{ name }}"

- name: "Unset existing installation for {{ name }} in /usr/local/bin"
  become: true
  file:
    path: "/usr/local/bin/{{ name }}"
    state: absent

- name: "Create symlink for {{ name }} in /usr/local/bin"
  become: true
  file:
    src: "{{ install_folder }}/{{ name }}"
    path: "/usr/local/bin/{{ name }}"
    state: link
