---
- name: Install Terragrunt (by gruntwork.io)
  become: true
  get_url:
    url: "https://github.com/gruntwork-io/terragrunt/releases/download/{{ version }}/terragrunt_linux_amd64"
    dest: /usr/local/bin/terragrunt
    mode: '0777'
  vars:
    version: v0.21.11