- name: Configure dnsmasq
  become: true
  block:
    - name: Create dnsmasq.conf directory
      file:
        path: "{{ lookup('ansible.builtin.env', 'HOMEBREW_PREFIX') }}/etc/"
        state: directory

    - name: Create dnsmasq.conf file 
      ansible.builtin.copy:
        dest: "{{ lookup('ansible.builtin.env', 'HOMEBREW_PREFIX') }}/etc/dnsmasq.conf"
        content: |
          address=/.localhost/127.0.0.1
          address=/.test/127.0.0.1
          # Don't read /etc/resolv.conf or any other configuration files.
          no-resolv
          # Never forward plain names (without a dot or domain part)
          domain-needed
          # Never forward addresses in the non-routed address spaces.
          bogus-priv

    - name: Copy dnsmasq launch daemon
      ansible.builtin.copy:
        remote_src: true
        src: "{{ lookup('ansible.builtin.env', 'HOMEBREW_PREFIX') }}/opt/dnsmasq/homebrew.mxcl.dnsmasq.plist"
        dest: /Library/LaunchDaemons/homebrew.mxcl.dnsmasq.plist

    - name: Run dnsmasq
      shell: |
        launchctl load -w /Library/LaunchDaemons/homebrew.mxcl.dnsmasq.plist

- name: Configure resolver to use dnsmasq
  become: true
  block:
    - name: Create resolver directory
      file:
        path: "/etc/resolver/"
        state: directory
    
    - name: Create resolver configs
      ansible.builtin.copy:
        dest: "/etc/resolver/{{ item.name }}"
        content: "{{ item.content }}"
      loop:
        - name: localhost
          content: "nameserver 127.0.0.1"
        - name: test
          content: "nameserver 127.0.0.1"