---
- hosts: all
  vars_files:
    - vars/main.yml
    - vars/tooling_version.yml
  vars:
    all_env: |
      {{ dev.env | combine(env) }}
    all_snaps: |
      {{ dev.snaps | union(snaps) }}
    all_remove_snaps: |
      {{ dev.remove_snaps | union(remove_snaps) }}
    all_packages: |
      {{ dev.packages | union(packages) }}
    all_remove_packages: |
      {{ dev.remove_packages | union(remove_packages) }}
    all_install_modules: |
      {{ dev.install_modules | union(install_modules) }}

  tasks:
    - name: Install and Remove packages
      become: true
      block:
        - include_tasks:
            file: tasks/install_packages.yml
        - include_tasks:
            file: tasks/remove_packages.yml
      tags:
        - packages

    - name: Install and Remove snap packages
      become: true
      block:
        - include_tasks:
            file: tasks/install_snaps.yml
        - include_tasks:
            file: tasks/remove_snaps.yml
      when: '"Microsoft" not in ansible_facts["kernel"]'
      tags:
        - packages

    - name: Install and configure tooling
      block:
        - include_tasks:
            file: "tasks/install/{{ module }}.yml"
          loop: "{{ all_install_modules }}"
          loop_control:
            loop_var: module
      tags:
        - tooling

    - name: Install and configure modac-bash
      block:
        - include_tasks:
            file: tasks/setup_modac_bash.yml
        - name: Write enviroment variables
          lineinfile:
            path: "{{ ansible_env.HOME }}/.env"
            regexp: "^export {{ item.key }}="
            line: "export {{ item.key }}=\"{{ item.value }}\""
            create: true
          loop: "{{ all_env | dict2items }}"
      tags:
        - scripts

    - include_tasks:
        file: tasks/install_dotfiles.yml
        apply:
          tags:
            - always
      tags:
        - dotfiles
