[Unit]
Description=LXD per-link DNS configuration for lxdbr0
BindsTo=sys-subsystem-net-devices-lxdbr0.device
After=sys-subsystem-net-devices-lxdbr0.device

[Service]
Type=oneshot
ExecStart=/usr/bin/resolvectl dns lxdbr0 10.0.206.1
ExecStart=/usr/bin/resolvectl domain lxdbr0 '~qwiki'

[Install]
WantedBy=sys-subsystem-net-devices-lxdbr0.device
