---
- name: Lookup the username running the provisioning
  become: false
  local_action: command whoami
  register: username_on_the_host

- name: Installs and configures Docker on Debian
  become: true
  block:
    - name: Install docker from package registry
      include_role:
        name: geerlingguy.docker
      vars:
        docker_compose_version: "{{ tooling.version.docker.compose }}"
        docker_apt_arch: "{{ machine_architecture }}"
        docker_users:
          - "{{ username_on_the_host.stdout }}"
        docker_apt_repository: "deb [arch={{ docker_apt_arch }}] {{ docker_repo_url }}/ubuntu {{ ansible_distribution_release }} {{ docker_apt_release_channel }}"
        docker_apt_gpg_key: "{{ docker_repo_url }}/ubuntu/gpg"
  when: is_ubuntu

- name: Create custom network bridge for k8s operations.
  include_tasks:
      file: tasks/docker/docker_create_k8s_bridge.yml
